@using TimeTracker.Helpers
@using TimeTracker.Models.ManageViewModels
@model TimeTracker.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
    ViewData.AddActivePage(SettingNavPages.Index);
}

<div class="row">
    
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <td>Teams</td>
                <td> - create or update information about teams</td>
            </tr>
            <tr>
                <td>Members</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Default value for task form</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Projects</td>
                <td> - create or update information about projects</td>
            </tr>
        </tbody>
    </table>
 
 
</div>

